<!-- <p>@ViewBag.preguntaElegida.Enunciado</p>

@foreach (Respuestas r in ViewBag.opciones)
{
    <p>@r.Contenido</p>
} -->

@{
    ViewData["Title"]="¡Pregunta!";
    string color = ViewBag.colorFondo;
}
<body style="@color";>
    <h1>@ViewBag.Categoria</h1>
    <div class="centrar">
        <img src=@ViewBag.imagen>
    </div>
    <p>Puntaje actual: @ViewBag.Puntaje</p>
    <div class="tarjetaPregunta">        
        <h3>Pregunta numero 1</h3>
        <p>@ViewBag.preguntaElegida</p>
        <form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
        <!-- @foreach (Respuestas r in ViewBag.opciones)
        {
            <input class="button-preg" type="submit" value="1" name="1"><br>
            /*<input class="button-preg" type="submit" value="1" name="1"><br>
            <input class="button-preg" type="submit" value="1" name="1"><br>
            <input class="button-preg" type="submit" value="1" name="1"><br>*/
        } -->
        </form>
    </div>
</body>